/* app css stylesheet */

a, button {
  &.next-to-input {
    margin-bottom: 10px;
  }
}

.navbar-search.team-search {
  margin-right: 0;
}

.navbar ul.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 12px 0 0 0;
  font-size: 120%;
}

.table-team tbody:empty:after {
  content: 'Keine Mitarbeiter gefunden.'
}

.nav li a.departments-filtered {
  color: #FFFFFF;
}

.table-absences-container {
  overflow-x: scroll;
}

$inactiveAbsenceBackground: #f5f5f5;
table.table-absences {
  th.day {
    text-align: center;
  }
  td, th {
    &.day {
      width: 40px;
      background-color: darken($inactiveAbsenceBackground, 5%);

      /* Hide weekends */
      &.weekday-6, &.weekday-0 {
        display: none;
      }

      $absenceTypes: ill ill-baby ill-doctor pto pto-education unknown;
      @each $absenceType in $absenceTypes {
        &.active-#{$absenceType} {
          .absence-#{$absenceType} {
            display: inherit;
            background-color: #3a87ad;
          }
        }
      }

      .absence-marker {
        display: none;

        &:hover {
          background-color: #3a87ad;
        }
      }

      &.open {
        .absence-marker {
          display: inherit;
        }
      }
    }
  }
}

.datepicker {
  z-index: 99999;
}

#long-term-form .controls {
  padding-top: 5px;
}