<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner black-gradient">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="index.html">
        <span class="rad">Grone</span>
      </a>
      <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-class="departmentFilter|departmentFilterClass">
          Abteilungen
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" ng-controller="TeamController">
          <li>
            <a ng-click="clearDepartmentFilter()">
              <span class="label {{departmentFilter|departmentFilterClass:'':'label-warning'}}">
              Alle
              </span>
            </a>
          </li>
          <li ng-repeat="department in departments()|orderObject:['department', 'name']">
            <a ng-click="clearDepartmentFilter(); toggleDepartmentFilter(department.value.department)">
              <span class="label {{department.value.department|filteredDepartment:departmentFilter:'label-warning'}}">
              {{department.value.department.name}}
              </span>
            </a>
          </li>
        </ul>
      </li>
      </ul>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <a id="user-popover" href="#" class="navbar-link user-info"> <i class="radmin-icon radmin-user"></i>
            Jack Frost
          </a>
          <a href="login.html" class="btn btn-mini btn-inverse navbar-link logout"> <i class="radmin-icon radmin-redo"></i>
            Logout
          </a>
        </p>

        <ul class="stats-sparkline pull-left hidden-phone hidden-tablet">
          <li>
            <span class="line-sparkline">Loading…</span>
            <span class="sparkline-text">Traffic</span>
          </li>
          <li>
            <span class="bar2-sparkline">Loading…</span>
            <span class="sparkline-text">Tickets</span>
          </li>
          <li>
            <span class="discrete-sparkline">Loading…</span>
            <span class="sparkline-text">Sales</span>
          </li>
          <li>
            <span class="bar1-sparkline">Loading…</span>
            <span class="sparkline-text">Revenue</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>