<div class="navbar">
  <div class="navbar-inner">
    <ul class="breadcrumb pull-left">
      <li>
        <a href="/#/">
          <i class="radmin-icon radmin-home"></i>
          Dashboard
        </a>
        <span class="divider">/</span>
      </li>
      <li ng-show="member || departmentPage">
        <a href="/#team">
          <i class="radmin-icon radmin-user"></i>
          Mannschaft
        </a>
        <span class="divider">/</span>
      </li>
      <li ng-hide="member || departmentPage">
        <i class="radmin-icon radmin-user"></i>
        Mannschaft
      </li>
      <li ng-show="member">
        <span ng-show="member.isNew()">Neuer Mitarbeiter</span>
        <span ng-hide="member.isNew()">{{member.name()}}</span>
      </li>
      <li ng-show="departmentPage">
        <i class="radmin-icon radmin-tree-view"></i>
        Abteilungen
      </li>
    </ul>
    <form class="navbar-search team-search pull-right" ng-hide="member">
      <span><i class="icon icon-search"></i> </span>
      <input type="text" ng-model="$root.search.$" class="search-query" placeholder="Suche">
    </form>
  </div>
</div>