<div ng-init="departmentPage=true" ng-include="'/partials/breadcrumb.html'"></div>

<h1>Abteilungen</h1>

<table class="table table-index">
  <thead>
    <tr>
      <th>Abteilung</th>
      <th>Mitarbeiter</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="department in departments()|orderObject:['count']|reverse">
      <td><a ng-click="setDepartmentFilter(department.value.department)" href="/#/team">{{department.value.department.name}}</a></td>
      <td>{{department.value.count}}</td>
    </tr>
  </tbody>
</table>